button {
  padding: 10px;
  border: 2px solid blue;
  font-family: 'IBM Plex Mono', monospace;
  margin: 10px;
  font-size: 15px;
  cursor: pointer;
  background: black;
  color: white;
}

body {
  font-family: 'IBM Plex Mono', monospace;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 130px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;

  color: #0c0c0c;
  background-color: #ffffff;
  border: 2px solid grey;
}